<div class="boat_job clearfix">
    
    
    <div class="boat_job_content">
        <p class="boat_job_status">
            <strong>
                <%= boat_job.status %>
            </strong>
        </p>
        
        <p class="boat_job_issues">
            <%= boat_job.issues %><br>
        </p>
        
        <p class="boat_job_time">
            <%= time_ago_in_words(boat_job.created_at) %><br> 
        Ago</p>
    </div>
    
    
    <% if user_signed_in? %>
        <p>
            <%= link_to 'Delete', [boat_job.job, boat_job], 
                method: :delete, 
                class: 'button', 
                data: { confirm: 'Have issues been settled?'} %><br>
        </p>
    <% end %>
    
    
</div>